button,
html,
input {
    font-family: sans-serif
}

.btn,
img {
    vertical-align: middle
}

#ui .ui-hud,
.btn {
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none
}

.btn-primary:active,
.btn:active,
.form-control {
    background-image: none
}

.btn,
.tics {
    text-align: center
}

#header .batts,
.btn,
.tics .tic {
    white-space: nowrap
}

html {
    line-height: 1.15;
    -ms-text-size-adjust: 100%;
    -webkit-text-size-adjust: 100%;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    -ms-overflow-style: scrollbar;
    -webkit-tap-highlight-color: transparent
}

a:active,
a:hover {
    outline-width: 0
}

small {
    font-size: 80%
}

video {
    display: inline-block
}

img {
    border-style: none
}

svg:not(:root) {
    overflow: hidden
}

button,
input {
    font-size: 100%;
    margin: 0;
    overflow: visible
}

button {
    text-transform: none;
    -webkit-appearance: button
}

button::-moz-focus-inner {
    border-style: none;
    padding: 0
}

button:-moz-focusring {
    outline: ButtonText dotted 1px
}

 ::-webkit-file-upload-button {
    -webkit-appearance: button;
    font: inherit
}

@media print {
    *,
     ::after,
     ::before,
    div::first-letter,
    div::first-line {
        text-shadow: none!important;
        -webkit-box-shadow: none!important;
        box-shadow: none!important
    }
    a,
    a:visited {
        text-decoration: underline
    }
    img {
        page-break-inside: avoid
    }
    h2 {
        orphans: 3;
        widows: 3;
        page-break-after: avoid
    }
}

*,
 ::after,
 ::before {
    -webkit-box-sizing: inherit;
    box-sizing: inherit
}

@-ms-viewport {
    width: device-width
}

body {
    margin: 0;
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.5;
    background-color: #fff
}

h1,
h2,
h5 {
    margin-top: 0;
    margin-bottom: .5rem;
    font-family: inherit;
    font-weight: 500;
    line-height: 1.1;
    color: inherit
}

a {
    background-color: transparent;
    -webkit-text-decoration-skip: objects;
    color: #0275d8;
    text-decoration: none
}

a:focus,
a:hover {
    color: #014c8c;
    text-decoration: underline
}

a:not([href]):not([tabindex]),
a:not([href]):not([tabindex]):focus,
a:not([href]):not([tabindex]):hover {
    color: inherit;
    text-decoration: none
}

a:not([href]):not([tabindex]):focus {
    outline: 0
}

a,
button,
input {
    -ms-touch-action: manipulation;
    touch-action: manipulation
}

button:focus {
    outline: dotted 1px;
    outline: -webkit-focus-ring-color auto 5px
}

button,
input {
    line-height: inherit
}

h5 {
    font-size: 1.25rem
}

.small,
small {
    font-size: 80%;
    font-weight: 400
}

.btn,
.form-control {
    line-height: 1.25;
    font-size: 1rem
}

.col-12 {
    position: relative;
    width: 100%;
    min-height: 1px;
    padding-right: 15px;
    padding-left: 15px;
    -webkit-box-flex: 0;
    -webkit-flex: 0 0 100%;
    -ms-flex: 0 0 100%;
    flex: 0 0 100%;
    max-width: 100%
}

@media (min-width:576px) {
    .col-12 {
        padding-right: 15px;
        padding-left: 15px
    }
}

@media (min-width:768px) {
    .col-12 {
        padding-right: 15px;
        padding-left: 15px
    }
}

@media (min-width:992px) {
    .col-12 {
        padding-right: 15px;
        padding-left: 15px
    }
}

@media (min-width:1200px) {
    .col-12 {
        padding-right: 15px;
        padding-left: 15px
    }
}

.form-control {
    display: block;
    width: 100%;
    padding: .5rem .75rem;
    color: #464a4c;
    background-color: #fff;
    -webkit-background-clip: padding-box;
    background-clip: padding-box;
    border: 1px solid rgba(0, 0, 0, .15);
    border-radius: .25rem;
    -webkit-transition: border-color ease-in-out .15s, -webkit-box-shadow ease-in-out .15s;
    -o-transition: border-color ease-in-out .15s, box-shadow ease-in-out .15s;
    transition: border-color ease-in-out .15s, box-shadow ease-in-out .15s;
    transition: border-color ease-in-out .15s, box-shadow ease-in-out .15s, -webkit-box-shadow ease-in-out .15s
}

.form-control::-ms-expand {
    background-color: transparent;
    border: 0
}

.form-control:focus {
    color: #464a4c;
    background-color: #fff;
    border-color: #5cb3fd;
    outline: 0
}

.form-control::-webkit-input-placeholder {
    color: #636c72;
    opacity: 1
}

.form-control::-moz-placeholder {
    color: #636c72;
    opacity: 1
}

.form-control:-ms-input-placeholder {
    color: #636c72;
    opacity: 1
}

.form-control::placeholder {
    color: #636c72;
    opacity: 1
}

.form-control:disabled {
    background-color: #eceeef;
    opacity: 1;
    cursor: not-allowed
}

.btn {
    display: inline-block;
    font-weight: 400;
    user-select: none;
    border: 1px solid transparent;
    padding: .5rem 1rem;
    border-radius: .25rem;
    -webkit-transition: all .2s ease-in-out;
    -o-transition: all .2s ease-in-out;
    transition: all .2s ease-in-out
}

.btn:focus,
.btn:hover {
    text-decoration: none
}

.btn:focus {
    outline: 0;
    -webkit-box-shadow: 0 0 0 2px rgba(2, 117, 216, .25);
    box-shadow: 0 0 0 2px rgba(2, 117, 216, .25)
}

.btn:disabled {
    cursor: not-allowed;
    opacity: .65
}

.btn-primary {
    color: #fff;
    background-color: #0275d8;
    border-color: #0275d8
}

.btn-primary:hover {
    color: #fff;
    background-color: #025aa5;
    border-color: #01549b
}

.btn-primary:focus {
    -webkit-box-shadow: 0 0 0 2px rgba(2, 117, 216, .5);
    box-shadow: 0 0 0 2px rgba(2, 117, 216, .5)
}

.btn-primary:disabled {
    background-color: #0275d8;
    border-color: #0275d8
}

.btn-primary:active {
    color: #fff;
    background-color: #025aa5;
    border-color: #01549b
}

.background,
body,
html {
    height: 100%
}

.password,
.ui-text,
.ui-text-box h5,
h1,
h2 {
    text-transform: uppercase
}

#terminal_window,
#ui,
.background,
.tics,
body {
    overflow: hidden
}

@keyframes blink {
    50% {
        opacity: 1
    }
    100% {
        opacity: 0
    }
}

@-webkit-keyframes vline {
    0% {
        top: 0
    }
    100% {
        top: 100%
    }
}

@keyframes turn-on {
    0% {
        transform: scale(1, .8) translate3d(0, 0, 0);
        -webkit-filter: brightness(30);
        filter: brightness(30);
        opacity: 1
    }
    3.5% {
        transform: scale(1, .8) translate3d(0, 100%, 0)
    }
    3.6% {
        transform: scale(1, .8) translate3d(0, -100%, 0);
        opacity: 1
    }
    9% {
        transform: scale(1.3, .6) translate3d(0, 100%, 0);
        -webkit-filter: brightness(30);
        filter: brightness(30);
        opacity: 0
    }
    11% {
        transform: scale(1, 1) translate3d(0, 0, 0);
        -webkit-filter: contrast(0) brightness(0);
        filter: contrast(0) brightness(0);
        opacity: 0
    }
    100% {
        transform: scale(1, 1) translate3d(0, 0, 0);
        opacity: 1
    }
}

@keyframes turn-off {
    0% {
        transform: scale(1, 1.3) translate3d(0, 0, 0);
        -webkit-filter: brightness(1);
        filter: brightness(1);
        opacity: 1
    }
    60% {
        transform: scale(1.3, .001) translate3d(0, 0, 0);
        -webkit-filter: brightness(10);
        filter: brightness(10)
    }
    100% {
        animation-timing-function: cubic-bezier(.755, .05, .855, .06);
        transform: scale(0, .0001) translate3d(0, 0, 0);
        -webkit-filter: brightness(50);
        filter: brightness(50)
    }
}

.granted,
.password {
    position: absolute;
    left: 50%;
    transform: translate(-50%, -50%)
}

body {
    background: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAUAAAAFCAYAAACNbyblAAAAAXNSR0IArs4c6QAAAARnQU1BAACxjwv8YQUAAAAJcEhZcwAADsMAAA7DAcdvqGQAAAAYdEVYdFNvZnR3YXJlAHBhaW50Lm5ldCA0LjAuOWwzfk4AAAATSURBVBhXY2DgFtuFgakuKLYLAEeqFWTdWGbFAAAAAElFTkSuQmCC) #000;
    color: #eee;
    font-family: 'Share Tech Mono', monospace;
    user-select: none
}

.hidden {
    display: none
}

.password {
    top: 50%;
    font-size: 60px;
    letter-spacing: 5px;
    text-shadow: 0 0 13px #DFDFDF
}

.granted {
    top: 58%;
    font-size: 30px;
    text-shadow: 0 0 13px #00B92A
}

#terminal_window::after,
#terminal_window::before {
    content: " ";
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    z-index: 2;
    pointer-events: none
}

@media screen and (max-width:360px) {
    .password {
        font-size: 40px
    }
    .granted {
        font-size: 15px
    }
}

.blink {
    animation: blink .8s steps(1, start) infinite alternate
}

@keyframes flicker {
    0% {
        opacity: .54996
    }
    5% {
        opacity: .43186
    }
    10% {
        opacity: .76245
    }
    15% {
        opacity: .38195
    }
    20% {
        opacity: .3507
    }
    25% {
        opacity: .34021
    }
    30% {
        opacity: .37999
    }
    35% {
        opacity: .58021
    }
    40% {
        opacity: .11827
    }
    45% {
        opacity: .66552
    }
    50% {
        opacity: .62447
    }
    55% {
        opacity: .51802
    }
    60% {
        opacity: .644
    }
    65% {
        opacity: .96316
    }
    70% {
        opacity: .08441
    }
    75% {
        opacity: .89855
    }
    80% {
        opacity: .47529
    }
    85% {
        opacity: .1044
    }
    90% {
        opacity: .95478
    }
    95% {
        opacity: .56332
    }
    100% {
        opacity: .52633
    }
}

#terminal_window {
    background: #121010
}

#terminal_window::after {
    background: rgba(18, 16, 16, .1);
    opacity: 0
}

#terminal_window::before {
    background: linear-gradient(rgba(18, 16, 16, 0) 50%, rgba(0, 0, 0, .25) 50%), linear-gradient(90deg, rgba(255, 0, 0, .06), rgba(0, 255, 0, .02), rgba(0, 0, 255, .06));
    background-size: 100% 2px, 3px 100%
}

.background {
    width: 100%;
    position: relative;
    background: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAUAAAAFCAYAAACNbyblAAAAAXNSR0IArs4c6QAAAARnQU1BAACxjwv8YQUAAAAJcEhZcwAADsMAAA7DAcdvqGQAAAAYdEVYdFNvZnR3YXJlAHBhaW50Lm5ldCA0LjAuOWwzfk4AAAATSURBVBhXY2DgFtuFgakuKLYLAEeqFWTdWGbFAAAAAElFTkSuQmCC)
}

.background:before,
.background:not:after {
    position: absolute;
    content: ''
}

.background:not:after {
    background-image: -webkit-repeating-linear-gradient(top, transparent 0, transparent 1px, #000 1px, #000 2px);
    background-image: repeating-linear-gradient(to bottom, transparent 0, transparent 1px, #000 1px, #000 2px);
    background-size: 100% 2px, cover;
    -webkit-transform-origin: 50% 50%;
    transform-origin: 50% 50%;
    -webkit-transform: rotate(0);
    transform: rotate(0);
    opacity: .3;
    top: -150%;
    left: -150%;
    right: -150%;
    bottom: -150%
}

.background:before {
    top: 0;
    left: 0;
    width: 100%;
    height: 5px;
    background: #fff;
    background: -webkit-linear-gradient(to bottom, rgba(255, 0, 0, 0) 0, rgba(255, 250, 250, 1) 50%, rgba(255, 255, 255, .98) 51%, rgba(255, 0, 0, 0) 100%);
    background: linear-gradient(to bottom, rgba(255, 0, 0, 0) 0, rgba(255, 250, 250, 1) 50%, rgba(255, 255, 255, .98) 51%, rgba(255, 0, 0, 0) 100%);
    opacity: .1;
    animation: vline 8.25s linear infinite
}

video {
    position: fixed;
    top: 50%;
    left: 50%;
    min-width: 100%;
    min-height: 100%;
    width: auto;
    height: auto;
    z-index: -100;
    -webkit-transform: translateX(-50%) translateY(-50%);
    transform: translateX(-50%) translateY(-50%);
    -webkit-transition: 1s opacity;
    transition: 1s opacity
}

@font-face {
    font-family: TTSquaresCondensed-Thin;
    src: url(https://s3-us-west-2.amazonaws.com/s.cdpn.io/39132/TTSquaresCondensed-Thin.eot);
    src: url(https://s3-us-west-2.amazonaws.com/s.cdpn.io/39132/TTSquaresCondensed-Thin.eot?#iefix) format("embedded-opentype"), url(https://s3-us-west-2.amazonaws.com/s.cdpn.io/39132/TTSquaresCondensed-Thin.woff2) format("woff2"), url(https://s3-us-west-2.amazonaws.com/s.cdpn.io/39132/TTSquaresCondensed-Thin.woff) format("woff"), url(https://s3-us-west-2.amazonaws.com/s.cdpn.io/39132/TTSquaresCondensed-Thin.ttf) format("truetype")
}

h1,
h2 {
    font: 400 6.875em/1.25 TTSquaresCondensed-Thin;
    letter-spacing: .05em;
    margin: 0
}

#ui .ui-hud {
    position: absolute;
    user-select: none;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    height: 100vh
}

#header,
.tics {
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    z-index: 1;
    user-select: none
}

#ui .ui-hud .border-v {
    width: 1px;
    position: fixed;
    top: 60px;
    bottom: 60px;
    z-index: 1;
    background: rgba(89, 136, 178, .3)
}

.text-box,
.tics {
    position: absolute
}

#ui .ui-hud .border-v.r {
    right: 60px
}

#ui .ui-hud .border-v.l {
    left: 60px
}

#ui .ui-hud .border-v .cap {
    width: 4px;
    height: 4px;
    background: 0 0;
    top: -10px;
    left: -4px;
    border-width: 4px;
    border-color: #009EFF transparent transparent;
    border-style: solid
}

#ui .ui-hud .border-v .cap:nth-of-type(2) {
    top: initial;
    bottom: -10px;
    border-color: transparent transparent #009EFF
}

#ui .ui-hud .border-v .batt {
    width: 3px;
    height: 12px;
    background: #f63b4c;
    position: absolute;
    top: 50%;
    left: -1px;
    -webkit-transform: translate(0, -50%);
    transform: translate(0, -50%)
}

.text-box {
    bottom: 50px;
    right: 80px
}

.ui-text-box {
    width: 101px
}

.ui-text-box h5 {
    font: 6px/1 TTSquaresCondensed-Thin;
    color: #5984B2;
    letter-spacing: 1px
}

.ui-text-box .text {
    overflow: hidden;
    height: 80px
}

.ui-text-box .text .ui-text {
    fill: #afe3d7;
    opacity: .3
}

.tics {
    margin: auto;
    left: 30%;
    right: 30%;
    height: 14px
}

.tics .tic {
    background: rgba(89, 136, 178, .3);
    width: 1px;
    height: 10px;
    position: relative;
    display: inline-block;
    margin: 0 3px
}

#header .batts,
.cap,
.tics .tic:before,
.ui-arrow,
.ui-button.small,
.ui-button.small .frame {
    position: absolute
}

.tics .tic:before {
    content: '';
    width: inherit;
    height: 2px;
    left: 0;
    background: #009EFF
}

.tics.t {
    top: -50px
}

.tics.t .tic {
    top: 0
}

.tics.b {
    bottom: -50px
}

.tics.b .tic,
.tics.t .tic:before {
    top: -4px
}

.tics.b .tic:before {
    bottom: -4px
}

.cap {
    width: 6px;
    height: 6px;
    background: #5984B2
}

.ui-text {
    font-size: 10px;
    -webkit-font-smoothing: subpixel-antialiased;
    -moz-osx-font-smoothing: grayscale;
    letter-spacing: .25em
}

.ui-button.small {
    bottom: 42px;
    width: 40px;
    height: 40px;
    border: 1px solid #5984B2;
    background: #070608;
    -webkit-transform: translate(-50%, 0);
    transform: translate(-50%, 0);
    left: 50%
}

.ui-button.small .frame {
    top: -1px;
    right: -1px;
    bottom: -1px;
    left: -1px;
    border: 1px solid #5984B2;
    -webkit-animation: 2.3s ui-button-small cubic-bezier(.21, .61, .35, 1) infinite;
    animation: 2.3s ui-button-small cubic-bezier(.21, .61, .35, 1) infinite
}

#header .border.l,
#header .border.r,
#ui .border.b,
#ui .border.t {
    border-left: 3px solid #5984B2;
    border-top: 3px solid #5984B2;
    position: absolute
}

.ui-arrow {
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    width: 18px;
    height: 9px;
    fill: #f63b4c
}

#header .batt,
#ui .batt {
    width: 3px;
    height: 12px
}

#header .border.l,
#header .border.r {
    top: 30px;
    bottom: 30px;
    width: 9px;
    border-bottom: 3px solid #5984B2
}

#header .border.l {
    left: 30px
}

#header .border.r {
    right: 30px;
    -webkit-transform: scale(-1, 1);
    transform: scale(-1, 1)
}

#ui .border.b,
#ui .border.t {
    height: 9px;
    left: 35%;
    right: 35%;
    border-right: 3px solid #5984B2
}

#ui .border.t {
    top: 60px
}

#ui .border.b {
    bottom: 60px;
    -webkit-transform: scale(1, -1);
    transform: scale(1, -1)
}

#header .batts.l,
#header .batts.r {
    top: 50%;
    -webkit-transform: translate(0, -50%);
    transform: translate(0, -50%)
}

#header .batts.l .batt,
#header .batts.r .batt {
    width: 12px;
    height: 3px;
    background: #5984B2;
    margin: 70px 0
}

#header .batts.l {
    left: -6px
}

#header .batts.r {
    right: -6px
}

#header .batts.b,
#header .batts.t {
    left: 50%;
    -webkit-transform: translate(-50%, 0);
    transform: translate(-50%, 0)
}

#header .batts.b .batt,
#header .batts.t .batt {
    width: 3px;
    height: 12px;
    background: #5984B2;
    margin: 0 70px;
    display: inline-block
}

#header .batts.t {
    top: -6px
}

#header .batts.b {
    bottom: -12px
}

#header {
    -webkit-perspective: 2400px;
    perspective: 2400px;
    position: relative;
    height: 100vh
}

#header .header-title {
    margin: 30px;
    padding: 0;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -ms-flex-line-pack: center;
    align-content: center;
    text-align: left
}

#header .header-title .title {
    margin: 0;
    font-size: 7.25em;
    font-size: 6vmax;
    position: relative;
    top: 5px;
    -ms-flex-item-align: center;
    -ms-grid-row-align: center;
    align-self: center;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    -webkit-transition: opacity 1s cubic-bezier(.21, .61, .35, 1);
    transition: opacity 1s cubic-bezier(.21, .61, .35, 1)
}

#header .hud-box {
    position: absolute;
    top: 50%;
    left: 14%;
    right: 14%;
    -webkit-transform: translate(0, -50%) scale(.75);
    transform: translate(0, -50%) scale(.75);
    max-width: 1280px;
    margin: auto;
    padding: 0 5%
}

#header .hud-box .hud-box-border {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    border: 1px solid rgba(89, 136, 178, .3)
}

#header .hud-box .cap {
    position: absolute;
    background: 0 0;
    width: 10px;
    height: 10px
}

#header .hud-box .cap.tl {
    top: -4px;
    left: -4px;
    border-left: 1px solid #009EFF;
    border-top: 1px solid #009EFF
}

#header .hud-box .cap.tr {
    top: -4px;
    right: -4px;
    border-right: 1px solid #009EFF;
    border-top: 1px solid #009EFF
}

#header .hud-box .cap.br {
    bottom: -4px;
    right: -4px;
    border-bottom: 1px solid #009EFF;
    border-right: 1px solid #009EFF
}

#header .hud-box .cap.bl {
    bottom: -4px;
    left: -4px;
    border-bottom: 1px solid #009EFF;
    border-left: 1px solid #009EFF
}

.header-title,
.header-title .title {
    position: relative
}

.header-title .title:before {
    content: '';
    position: absolute;
    top: 0;
    left: -20px;
    width: 10px;
    height: 10px;
    border-left: 2px solid #f63b4c;
    border-top: 2px solid #f63b4c;
    border-radius: 2px 0 0
}

.header-title h2 {
    margin: 0;
    font-size: 5em;
    position: relative;
    color: #009EFF;
    z-index: 1
}

@media screen and (max-width:100rem) {
    .header-title h2 {
        font-size: 4.5em
    }
}

@media screen and (max-width:81.25rem) {
    .header-title h2 {
        font-size: 3.5em
    }
}

@media screen and (max-width:74.9375rem) {
    .header-title h2 {
        font-size: 3.5em
    }
}

@media screen and (max-width:49.1875rem) {
    .header-title h2 {
        font-size: 2.5em
    }
}

@media screen and (max-width:30rem) {
    .header-title h2 {
        font-size: 2em
    }
}

@media screen and (max-width:100rem) {
    .header-title h1 {
        font-size: 4.5em
    }
}

@media screen and (max-width:81.25rem) {
    .header-title h1 {
        font-size: 3.5em
    }
}

@media screen and (max-width:74.9375rem) {
    .header-title h1 {
        font-size: 3.5em
    }
}

@media screen and (max-width:49.1875rem) {
    .header-title h1 {
        font-size: 2.5em
    }
}

@media screen and (max-width:30rem) {
    .header-title h1 {
        font-size: 2em
    }
}

body,
html {
    height: 100%
}

.corner-ribbon {
    width: 200px;
    background: #e43;
    position: absolute;
    top: 25px;
    left: -50px;
    text-align: center;
    line-height: 50px;
    letter-spacing: 1px;
    color: #f0f0f0;
    transform: rotate(-45deg);
    -webkit-transform: rotate(-45deg)
}

.corner-ribbon.sticky {
    position: fixed
}

.corner-ribbon.shadow {
    box-shadow: 0 0 3px rgba(0, 0, 0, .3)
}

.corner-ribbon.top-right {
    top: 25px;
    right: -50px;
    left: auto;
    transform: rotate(45deg);
    -webkit-transform: rotate(45deg)
}

.corner-ribbon.top-left {
    top: 25px;
    left: -50px;
    transform: rotate(-45deg);
    -webkit-transform: rotate(-45deg)
}

.corner-ribbon.blue {
    background: #39d
}

.corner-ribbon.green {
    background: #2c7
}

input[type=radio] {
    box-sizing: border-box;
    padding: 0
}

.btn-group-toggle>.btn,
.btn-group-toggle>.btn-group>.btn {
    margin-bottom: 0
}

.btn-group-toggle>.btn input[type=checkbox],
.btn-group-toggle>.btn input[type=radio],
.btn-group-toggle>.btn-group>.btn input[type=checkbox],
.btn-group-toggle>.btn-group>.btn input[type=radio] {
    position: absolute;
    clip: rect(0, 0, 0, 0);
    pointer-events: none
}